body{
    background-color: #50A;
}
h1{
    text-align: center;
    font-family: 'Lilita One', cursive;
    color: #ffffff;
    padding: 5px;
}
ul{
    display: flex;
    flex-wrap:wrap;
    font-family: 'Lilita One', cursive;
    text-decoration: none;
    list-style-type: none;
    justify-content: space-between;
    font-size: 1.5em;
}
li{
list-style: none;
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
gap: 2em;
padding: 1em;
margin: 1em;
color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    transition-duration: 0.3s;
}
a:hover{
  opacity: 80%;
  transform: scale(1.2);
}

#monaco{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10em;
}
.white{
    position: absolute;
    margin-top: 1em;
    z-index: 1;
    width: 15em;
    height: 5em;
    background-color: rgb(255, 255, 255);
}
.red{
    margin-top: 6em;
    width: 15em;
    height: 5em;
    background-color: rgb(255, 0, 0);
}
#franca{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10em;
    margin-right: 9em;
  }
  #blue{
      position: absolute;
      width: 5em;
      height: 10em;
      background-color: #0026ff;
  }
  #white{
    position: absolute;
    margin-left: 5em;
    width: 5em;
    height: 10em;
    background-color: #ffffff;
  }
  #red{
    position: absolute;
    margin-left: 5em;
    width: 5em;
    height: 10em;
    background-color: #ff0000;
  }
  .fundo{
    background-color: #ffffff;
  }
  #belgica{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15em;
    margin-right: 9em;
    padding-top: 5em;
  }
  #black{
      position: absolute;
      width: 5em;
      height: 10em;
      background-color: #000000;
  }
  #yellow{
    position: absolute;
    margin-left: 5em;
    width: 5em;
    height: 10em;
    background-color: #ffee00;
  }
  #magenta{
    position: absolute;
    margin-left: 5em;
    width: 5em;
    height: 10em;
    background-color: #ff0000;
  }
#japao{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15em;
  margin-right: 3em;
  padding-top: 5em;
}
#japao #white{
  position: absolute;
  width: 16em;
  height: 10em;
  background-color: #fafafa;
}
#japao #red{
  position: absolute;
  width: 5em;
  height: 5em;
  display: flex;
  margin-top: 3em;
  margin-left: 5.5em;
  border-radius: 50px;
  background-color: #ff0000;
}
#Botswana{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15em;
  margin-right: 3em;
  padding-top: 5em;
}
#Botswana #blue{
  position: absolute;
    margin-top: 1em;
    z-index: 1;
    margin-left: 5em;
    width: 15em;
    height: 10em;
    background-color: rgb(0, 102, 255);
}
#Botswana #white{
  position: absolute;
    margin-top: 1em;
    z-index: 1;
    margin-left: 0em;
    margin-top: 3em;
    width: 15em;
    height: 4em;
    background-color: rgb(255, 255, 255);
}
#Botswana #black{
  position: absolute;
  width: 15em;
  height: 2em;
  margin-top: 15px;
  background-color: rgb(7, 0, 0);
}
